*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
section{
	width: 100%;
	float: left;
	padding-left: 100px;
	padding-right: 100px;
}
.galleryContainer{
	margin: 0 auto;
}
.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}
.gallery:hover {
	border: 1px solid #777;
}
.gallery img {
	width: 100%;
	height: auto;
}
.desc {
	padding: 15px;
	text-align: center;
}
.overlay{
	height: 100%;
	width: 100%;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	background-color: rgba(0,0,0, 0.9);
	/* transition: 0.5s; */
	display: none;
}
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	color: #f1f1f1;
	text-decoration: none;
}
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.bigImage{
	height: 100%;
	width: 100%;
	position: relative;
}
.content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 70%;
	max-width: 1200px;
}